<nav class="container d-flex justify-content-between">
    <h3>Name</h3>
    <div>
        <a asp-action="Weddings" asp-controller="Home">Home</a>
        <a asp-action="NewWedding" asp-controller="Home">Plan a Wedding</a>
        <a asp-action="Logout" asp-controller="Home">Logout</a>
    </div>
</nav>